* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0e0;
  margin-top: 20px;
  perspective: 1000px;
}

.card-container {
  width: 300px;
  height: 350px;
  margin: 0 auto;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, .4);
  border-radius: 30px;
  text-align: center;
  transform-style: preserve-3d;

  &:hover {
    > .card__header {
      > .card-header-img {
        transform: translateZ(60px);
      }
    }

    > .card__body {
      > .card-title {
        transform: translateZ(20px);
      }
    }

    > .card__footer {
      > .card-btn {
        transform: translateZ(30px);
      }
    }
  }

  > .card__header {
    width: 100%;
    height: 60%;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    > .card-header-img {
      width: 65%;
      transition: all .5s;
    }
  }

  > .card__body {
    width: 100%;
    height: 15%;

    > .card-title {
      font-size: 24px;
      transition: transform .6s;
    }
  }

  > .card__footer {
    width: 100%;
    height: 25%;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    > .card-btn {
      min-width: 120px;
      height: 40px;
      line-height: 40px;
      border: none;
      border-radius: 20px;
      color: white;
      transition: transform .4s;

      &.show {
        background-color: #54b;
      }

      &.download {
        background-color: #b47;
      }
    }
  }
}